/* Colors */
$basic-white: #ffffff;
$basic-black: #000000;
$basic-orange: #FFCC2D;
$basic-green: #3EA43B;
$basic-blue: #4D7FCA;
$basic-yellow: #FFCC2D;
$basic-red: linear-gradient(180deg, #FF6262 0%, #E82D2D 100%);


/* Breakpoints */
$desktop-width: 1400px;
$half-desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 767px;
$half-mobile-width: 500px;
